.github/

config/
deploy/
node_modules/
out/*.html
out/*.json
out/*.map
scripts/
src/
test/
vendor/

.codeclimate.yml
.gitlab-ci.yml
.gitmodules
.mdlrc

Dockerfile
licensed.yml
Makefile
renovate.json
tsconfig.json
yarn-*
